{% extends "core/base.html" %}

{% block content %}
    <header>
        <h1>Chat</h1>
        <p>Hello {{ request.user.username }}</p>
    </header>
    <section id="draw">
        <input id="colorPicker" type="color" value="#df4b26">
        <canvas id="canvas" width="600" height="450"></canvas>
    </section>
    <section id="chatHistory">
        <hr id="chatBottom">
        <p id="chatInput">
            <input type="text" id="chatBox">
            <button id="send">Send</button>
        </p>
    </section>
{% endblock %}

{% block extrafoot %}
<script>

$(document).ready(function() {

    // =======================================================================
    // CANVAS
    // =======================================================================
    // http://www.williammalone.com/articles/create-html5-canvas-javascript-drawing-app/
    context = document.getElementById('canvas').getContext("2d");
    var lastX = null;
    var lastY = null;
    var paint;
    var color = "#df4b26";
    context.strokeStyle = "#df4b26";
    context.lineJoin = "round";
    context.lineWidth = 5;
    $('#colorPicker').change(function(e) {
        color = $(this).val();
        context.strokeStyle = color;
    })
    $('#canvas').on('mousedown touchstart', function(e){
        e.preventDefault();
        paint = true;
        lastX = (e.pageX || e.originalEvent.touches[0].pageX) - this.offsetLeft;
        lastY = (e.pageY || e.originalEvent.touches[0].pageY) - this.offsetTop;
    });
    $('#canvas').on('mousemove touchmove', function(e){
        e.preventDefault();
        if(paint){
            var mouseX = (e.pageX || e.originalEvent.touches[0].pageX) - this.offsetLeft;
            var mouseY = (e.pageY || e.originalEvent.touches[0].pageY) - this.offsetTop;
            sendLine(lastX, lastY, mouseX, mouseY, color);
            drawLine(lastX, lastY, mouseX, mouseY, color);
            lastX = mouseX;
            lastY = mouseY;
        }
    });
    $('#canvas').on('mouseup touchend', function(e){
        e.preventDefault();
        paint = false;
    });
    $('#canvas').mouseleave(function(e){
        paint = false;
    });
    function drawLine(x1, y1, x2, y2, drawColor) {
        context.strokeStyle = drawColor;
        context.beginPath();
        context.moveTo(x1, y1);
        context.lineTo(x2, y2);
        context.closePath();
        context.stroke();
    }
    function sendLine(x1, y1, x2, y2, drawColor) {
        data = {x1: x1, y1: y1, x2: x2, y2: y2, color: drawColor};
        send("line", data);
    }


    // =======================================================================
    // WEBSOCKET
    // =======================================================================
    var username = "{{ request.user.username|default:"null" }}";
    function init() {
        socket = new WebSocket("ws://" + window.location.host + "/chat/{{ room }}");
        socket.onmessage = function(e) {
            var parsed = JSON.parse(e.data);
            if (parsed.username === username) {
                return;
            }

            if (parsed.type === "chat") {
                addMessage(parsed.username, parsed.message, parsed.styles);
            }
            else {
                var pm = parsed.message;
                drawLine(pm.x1, pm.y1, pm.x2, pm.y2, pm.color);
            }
        }
        socket.onopen = function(e) {
            addMessage(null, "Connected!", "system");
        }
        socket.onclose = function(e) {
            addMessage(null, "Disconnected!", "system");
        }
        socket.onerror = function(e) {
            alert("Error: " + e.data);
            addMessage(null, "Error: " + e.data, "system error");
        }
    }
    init();
    function send(type, data) {
        var msg = {type: type, data: data};
        socket.send(JSON.stringify(msg));
    }


    // =======================================================================
    // CHAT
    // =======================================================================
    $("#send").click(function() {
        sendChat();
    });
    $("#chatBox").bind("keypress", function(e) {
        var code = e.keyCode || e.which;
        if (code == 13) {
            sendChat();
        }
    });
    function sendChat() {
        data = $("#chatBox").val();
        addMessage(username, data);
        send("chat", data);
        $("#chatBox").val("");
    }
    function addMessage(sender, msg, styles) {
        sender = sender || "";
        styles = styles || "";
        $('#chatBottom').before('<p class="' + styles + '"><span class="sender">' + sender + '</span> <span class="message">' + msg + '</span></p>');
    }

});

</script>
{% endblock %}
