{% extends "core/base.html" %}

{% block content %}
    <header>
        <h1>Chat</h1>
        <p>Hello {{ request.user.username }}</p>
    </header>
    <section id="chatHistory">
        <hr id="chatBottom">
        <p id="chatInput">
            <input type="text" id="chatBox">
            <button id="send">Send</button>
        </p>
    </section>
    <section id="onlineList">
    </section>
    <section id="draw">
    </section>
{% endblock %}

{% block extrafoot %}
<script>

$(document).ready(function() {

    var username = "{{ request.user.username|default:"null" }}";
    function init() {
        socket = new WebSocket("ws://" + window.location.host + "/chat/{{ room }}");
        socket.onmessage = function(e) {
            var parsed = JSON.parse(e.data);
            addMessage(parsed.username, parsed.message, parsed.styles);
        }
        socket.onopen = function(e) {
            addMessage(null, "Connected!", "system");
        }
        socket.onclose = function(e) {
            addMessage(null, "Disconnected!", "system");
        }
        socket.onerror = function(e) {
            alert("Error: " + e.data);
            addMessage(null, "Error: " + e.data, "system error");
        }
    }
    init();

    $("#send").click(function() {
        send();
    })
    $("#chatBox").bind("keypress", function(e) {
        var code = e.keyCode || e.which;
        if (code == 13) {
            send();
        }
    })

    function send() {
        var data = $("#chatBox").val();
        socket.send(data);
        $("#chatBox").val("");
    }
    function addMessage(sender, msg, styles) {
        sender = sender || "";
        styles = styles || "";
        $('#chatBottom').before('<p class="' + styles + '"><span class="sender">' + sender + '</span> <span class="message">' + msg + '</span></p>');
    }

});

</script>
{% endblock %}
